---
import SubPageLayout from '../../components/SubPageLayout.astro';

const base = import.meta.env.BASE_URL;
const menuItems = [
  { id: '2', label: '公司簡介', href: `${base}about/2` },
  { id: '7', label: '寶得利大事紀', href: `${base}about/7` },
  { id: '4', label: '經營團隊', href: `${base}about/4` },
  { id: '5', label: '113年之計劃與發展', href: `${base}about/5` },
];
---

<SubPageLayout title="經營團隊" titleEn="About CJW" titleTw="關於寶得利" menuItems={menuItems} activeId="4">
  <h4>
    <img alt="" src="/cjwtw-website/images/upload/2022_05_25_231659.jpg" class="w-full" /><img
      alt=""
      src="/cjwtw-website/images/upload/2022_05_25_231659.png"
      class="w-full max-w-md"
    />
  </h4>

  <h4><span style="color:#8e44ad"><span style="font-size:16px">主要部門所營業務</span></span></h4>

  <p><img alt="" src="/cjwtw-website/images/upload/2022_05_25_231702(11).jpg" class="w-full" /></p>
</SubPageLayout>
