---
import SubPageLayout from '../../components/SubPageLayout.astro';

const base = import.meta.env.BASE_URL;
const menuItems = [
  { id: "2", label: "公司簡介", href: `${base}about/2` },
  { id: "7", label: "寶得利大事紀", href: `${base}about/7` },
  { id: "4", label: "經營團隊", href: `${base}about/4` },
  { id: "5", label: "113年之計劃與發展", href: `${base}about/5` },
];
---

<SubPageLayout
  title="經營團隊"
  titleEn="About CJW"
  titleTw="關於寶得利"
  menuItems={menuItems}
  activeId="4"
>
  <h4><img alt="" src="/cjwtw-website/images/upload/2022_05_25_231659.jpg" style="height:300px; width:900px" /><img alt="" src="/cjwtw-website/images/upload/2022_05_25_231659.png" style="height:482px; width:395px" /></h4>

<h4><img alt="" src="/cjwtw-website/images/upload/2021_03_19_152018.jpg" style="height:300px; width:900px" /></h4>

<h4><img alt="" src="/cjwtw-website/images/upload/2021_03_19_151857.png" style="height:482px; width:395px" /></h4>

<h4><span style="color:#8e44ad"><span style="font-size:16px">主要部門所營業務</span></span></h4>

<p><img alt="" src="/cjwtw-website/images/upload/2022_05_25_231702(11).jpg" style="height:546px; width:1384px" /></p>

<p><span style="color:#8e44ad"><span style="font-size:16px"><img alt="" src="/cjwtw-website/images/upload/2022_05_25_095135.jpg" style="height:546px; width:1384px" /></span></span></p>

<table border="0" cellpadding="0" cellspacing="0" style="width:783px">
	<tbody>
		<tr>
		</tr>
		<tr>
		</tr>
		<tr>
			<td> </td>
			<td colspan="7"> </td>
		</tr>
		<tr>
			<td rowspan="4"> </td>
			<td rowspan="2"> </td>
			<td colspan="7" rowspan="2"> </td>
		</tr>
		<tr>
		</tr>
		<tr>
			<td rowspan="2"> </td>
			<td colspan="7" rowspan="2"> </td>
		</tr>
		<tr>
		</tr>
		<tr>
			<td rowspan="2"> </td>
			<td rowspan="2"> </td>
			<td colspan="7" rowspan="2"> </td>
		</tr>
		<tr>
		</tr>
		<tr>
			<td rowspan="2"> </td>
			<td rowspan="2"> </td>
			<td colspan="7" rowspan="2"> </td>
		</tr>
		<tr>
		</tr>
		<tr>
			<td> </td>
			<td> </td>
			<td colspan="7"> </td>
		</tr>
	</tbody>
</table>

</SubPageLayout>
