---
import SubPageLayout from '../../components/SubPageLayout.astro';

const base = import.meta.env.BASE_URL;
const menuItems = [
  { id: '2', label: '經營者話', href: `${base}company/2` },
  { id: '1', label: '公司治理運作', href: `${base}company/1` },
  { id: '4', label: '功能性委員會', href: `${base}company/4` },
  { id: '3', label: '董事會', href: `${base}company/3` },
  { id: '6', label: '公司治理相關程序及辦法', href: `${base}company/6` },
  { id: '7', label: '內部稽核組織及運作', href: `${base}company/7` },
  { id: '5', label: '企業社會責任', href: `${base}company/5` },
];
---

<SubPageLayout
  title="公司治理運作"
  titleEn="Corporate Governance"
  titleTw="公司治理"
  menuItems={menuItems}
  activeId="1"
>
  <h2>公司治理運作情形</h2>

  <table
    border="1"
    class="Table"
    style="-webkit-text-size-adjust:auto; -webkit-text-stroke-width:0px; border:1pt solid windowtext; caret-color:#000000; color:#000000; font-style:normal; font-variant-caps:normal; font-weight:normal; letter-spacing:normal; orphans:auto; text-align:start; text-decoration:none; text-transform:none; white-space:normal; widows:auto; width:652.55pt; word-spacing:0px"
  >
    <tbody>
      <tr>
        <td style="height:27pt">
          <p style="margin-left:0cm; margin-right:0cm">
            <span style="font-size:12pt"
              ><span style="font-family:Calibri,sans-serif"
                ><span style="font-size:11.5pt"
                  ><span style="font-family:新細明體,serif"><span style="color:#0b1e1f">項</span></span></span
                >
                <span style="font-size:11.5pt"
                  ><span style="font-family:新細明體,serif"><span style="color:#0b1e1f">目</span></span></span
                ></span
              ></span>
          </p>
        </td>
        <td style="height:27pt">
          <p style="margin-left:0cm; margin-right:0cm">
            <span style="font-size:12pt"
              ><span style="font-family:Calibri,sans-serif"
                ><span style="font-size:11.5pt"
                  ><span style="font-family:新細明體,serif"><span style="color:#0b1e1f">運作情形</span></span></span
                ></span
              ></span>
          </p>
        </td>
        <td style="height:27pt; width:220.25pt">
          <p style="margin-left:0cm; margin-right:0cm">
            <span style="font-size:12pt"
              ><span style="font-family:Calibri,sans-serif"
                ><span style="font-size:11.5pt"
                  ><span style="font-family:新細明體,serif"
                    ><span style="color:#0b1e1f">與上市上櫃公司治理實務守則差異情形及原因</span></span
                  ></span
                ></span
              ></span>
          </p>
        </td>
      </tr>
      <tr>
        <td>
          <p style="margin-left:0cm; margin-right:0cm">
            <span style="font-size:12pt"
              ><span style="font-family:Calibri,sans-serif"
                ><span style="font-size:11.5pt"
                  ><span style="font-family:新細明體,serif"
                    ><span style="color:#0b1e1f">一、公司股權結構及股東權益</span></span
                  ></span
                ></span
              ></span>
          </p>
        </td>
        <td> </td>
        <td style="width:220.25pt"> </td>
      </tr>
      <tr>
        <td>
          <p style="margin-left:0cm; margin-right:0cm">
            <span style="font-size:12pt"
              ><span style="font-family:Calibri,sans-serif"
                ><span style="font-size:11.5pt"
                  ><span style="font-family:新細明體,serif"
                    ><span style="color:#0b1e1f">（一）公司處理股東建議或糾紛等問題之方式</span></span
                  ></span
                ></span
              ></span>
          </p>
        </td>
        <td>
          <p style="margin-left:0cm; margin-right:0cm">
            <span style="font-size:12pt"
              ><span style="font-family:Calibri,sans-serif"
                ><span style="font-size:11.5pt"
                  ><span style="font-family:新細明體,serif"
                    ><span style="color:#0b1e1f">（一）本公司設有對外發言人制度處理股東建議或糾紛等問題</span></span
                  ></span
                ></span
              ></span>
          </p>
        </td>
        <td style="width:220.25pt">
          <p style="margin-left:0cm; margin-right:0cm">
            <span style="font-size:12pt"
              ><span style="font-family:Calibri,sans-serif"
                ><span style="font-size:11.5pt"
                  ><span style="font-family:新細明體,serif"><span style="color:#0b1e1f">（一）無重大差異。</span></span
                  ></span
                ></span
              ></span>
          </p>
        </td>
      </tr>
      <tr>
        <td>
          <p style="margin-left:0cm; margin-right:0cm">
            <span style="font-size:12pt"
              ><span style="font-family:Calibri,sans-serif"
                ><span style="font-size:11.5pt"
                  ><span style="font-family:新細明體,serif"
                    ><span style="color:#0b1e1f"
                      >（二）公司掌握實際控制公司之主要股東及主要股東之最終控制者名單之情形</span
                    ></span
                  ></span
                ></span
              ></span>
          </p>
        </td>
        <td>
          <p style="margin-left:0cm; margin-right:0cm">
            <span style="font-size:12pt"
              ><span style="font-family:Calibri,sans-serif"
                ><span style="font-size:11.5pt"
                  ><span style="font-family:新細明體,serif"
                    ><span style="color:#0b1e1f"
                      >（二）公司透過股務代理機構隨時掌握董事、監察人、經理人及持股百分之十以上大股東之持股情形</span
                    ></span
                  ></span
                ></span
              ></span>
          </p>
        </td>
        <td style="width:220.25pt">
          <p style="margin-left:0cm; margin-right:0cm">
            <span style="font-size:12pt"
              ><span style="font-family:Calibri,sans-serif"
                ><span style="font-size:11.5pt"
                  ><span style="font-family:新細明體,serif"><span style="color:#0b1e1f">（二）無重大差異。</span></span
                  ></span
                ></span
              ></span>
          </p>
        </td>
      </tr>
      <tr>
        <td>
          <p style="margin-left:0cm; margin-right:0cm">
            <span style="font-size:12pt"
              ><span style="font-family:Calibri,sans-serif"
                ><span style="font-size:11.5pt"
                  ><span style="font-family:新細明體,serif"
                    ><span style="color:#0b1e1f">（三）公司建立與關係企業風險控管機制及防火牆之方式</span></span
                  ></span
                ></span
              ></span>
          </p>
        </td>
        <td>
          <p style="margin-left:0cm; margin-right:0cm">
            <span style="font-size:12pt"
              ><span style="font-family:Calibri,sans-serif"
                ><span style="font-size:11.5pt"
                  ><span style="font-family:新細明體,serif"
                    ><span style="color:#0b1e1f"
                      >（三）本公司透過內部控制、內部稽核等相關管理辦法，進行有效的風險控管，並杜絶非常規交易情事</span
                    ></span
                  ></span
                ></span
              ></span>
          </p>
        </td>
        <td style="width:220.25pt">
          <p style="margin-left:0cm; margin-right:0cm">
            <span style="font-size:12pt"
              ><span style="font-family:Calibri,sans-serif"
                ><span style="font-size:11.5pt"
                  ><span style="font-family:新細明體,serif"><span style="color:#0b1e1f">（三）無重大差異。</span></span
                  ></span
                ></span
              ></span>
          </p>
        </td>
      </tr>
      <tr>
        <td>
          <p style="margin-left:0cm; margin-right:0cm">
            <span style="font-size:12pt"
              ><span style="font-family:Calibri,sans-serif"
                ><span style="font-size:11.5pt"
                  ><span style="font-family:新細明體,serif"
                    ><span style="color:#0b1e1f">二、董事會之組成及職責</span></span
                  ></span
                ></span
              ></span>
          </p>
        </td>
        <td> </td>
        <td style="width:220.25pt"> </td>
      </tr>
      <tr>
        <td>
          <p style="margin-left:0cm; margin-right:0cm">
            <span style="font-size:12pt"
              ><span style="font-family:Calibri,sans-serif"
                ><span style="font-size:11.5pt"
                  ><span style="font-family:新細明體,serif"
                    ><span style="color:#0b1e1f">（一）公司設置獨立董事之情形</span></span
                  ></span
                ></span
              ></span>
          </p>
        </td>
        <td>
          <p style="margin-left:0cm; margin-right:0cm">
            <span style="font-size:12pt"
              ><span style="font-family:Calibri,sans-serif"
                ><span style="font-size:11.5pt"
                  ><span style="font-family:新細明體,serif"
                    ><span style="color:#0b1e1f">（一）本公司未設置獨立董事</span></span
                  ></span
                ></span
              ></span>
          </p>
        </td>
        <td style="width:220.25pt">
          <p style="margin-left:0cm; margin-right:0cm">
            <span style="font-size:12pt"
              ><span style="font-family:Calibri,sans-serif"
                ><span style="font-size:11.5pt"
                  ><span style="font-family:新細明體,serif"
                    ><span style="color:#0b1e1f">（一）未符合強制設置條件，本公司再行評估，如有需要再予設置</span></span
                  ></span
                ></span
              ></span>
          </p>
        </td>
      </tr>
      <tr>
        <td>
          <p style="margin-left:0cm; margin-right:0cm">
            <span style="font-size:12pt"
              ><span style="font-family:Calibri,sans-serif"
                ><span style="font-size:11.5pt"
                  ><span style="font-family:新細明體,serif"
                    ><span style="color:#0b1e1f">（二）定期評估簽證會計師獨立性之情形</span></span
                  ></span
                ></span
              ></span>
          </p>
        </td>
        <td>
          <p style="margin-left:0cm; margin-right:0cm">
            <span style="font-size:12pt"
              ><span style="font-family:Calibri,sans-serif"
                ><span style="font-size:11.5pt"
                  ><span style="font-family:新細明體,serif"
                    ><span style="color:#0b1e1f">（二）本公司有定期評估簽證會計師之獨立性</span></span
                  ></span
                ></span
              ></span>
          </p>
        </td>
        <td style="width:220.25pt">
          <p style="margin-left:0cm; margin-right:0cm">
            <span style="font-size:12pt"
              ><span style="font-family:Calibri,sans-serif"
                ><span style="font-size:11.5pt"
                  ><span style="font-family:新細明體,serif"><span style="color:#0b1e1f">（二）無重大差異。</span></span
                  ></span
                ></span
              ></span>
          </p>
        </td>
      </tr>
      <tr>
        <td>
          <p style="margin-left:0cm; margin-right:0cm">
            <span style="font-size:12pt"
              ><span style="font-family:Calibri,sans-serif"
                ><span style="font-size:11.5pt"
                  ><span style="font-family:新細明體,serif"
                    ><span style="color:#0b1e1f">三、建立與利害關係人溝通管道之情形</span></span
                  ></span
                ></span
              ></span>
          </p>
        </td>
        <td>
          <p style="margin-left:0cm; margin-right:0cm">
            <span style="font-size:12pt"
              ><span style="font-family:Calibri,sans-serif"
                ><span style="font-size:11.5pt"
                  ><span style="font-family:新細明體,serif"
                    ><span style="color:#0b1e1f"
                      >本公司已建立發言人制度處理相關事宜，與不同之利害關係人保持良好之溝通管道。</span
                    ></span
                  ></span
                ></span
              ></span>
          </p>
        </td>
        <td style="width:220.25pt">
          <p style="margin-left:0cm; margin-right:0cm">
            <span style="font-size:12pt"
              ><span style="font-family:Calibri,sans-serif"
                ><span style="font-size:11.5pt"
                  ><span style="font-family:新細明體,serif"><span style="color:#0b1e1f">無重大差異。</span></span></span
                ></span
              ></span>
          </p>
        </td>
      </tr>
      <tr>
        <td>
          <p style="margin-left:0cm; margin-right:0cm">
            <span style="font-size:12pt"
              ><span style="font-family:Calibri,sans-serif"
                ><span style="font-size:11.5pt"
                  ><span style="font-family:新細明體,serif"><span style="color:#0b1e1f">四、資訊公開</span></span></span
                ></span
              ></span>
          </p>
        </td>
        <td> </td>
        <td style="width:220.25pt"> </td>
      </tr>
      <tr>
        <td>
          <p style="margin-left:0cm; margin-right:0cm">
            <span style="font-size:12pt"
              ><span style="font-family:Calibri,sans-serif"
                ><span style="font-size:11.5pt"
                  ><span style="font-family:新細明體,serif"
                    ><span style="color:#0b1e1f">（一）公司架設網站，揭露財務業務及公司治理資訊之情形</span></span
                  ></span
                ></span
              ></span>
          </p>
        </td>
        <td>
          <p style="margin-left:0cm; margin-right:0cm">
            <span style="font-size:12pt"
              ><span style="font-family:Calibri,sans-serif"
                ><span style="font-size:11.5pt"
                  ><span style="font-family:新細明體,serif"
                    ><span style="color:#0b1e1f"
                      >（一）本公司依規定定期及不定期於公開資訊觀測站申報各項財務、業務資訊</span
                    ></span
                  ></span
                ></span
              ></span>
          </p>
        </td>
        <td style="width:220.25pt">
          <p style="margin-left:0cm; margin-right:0cm">
            <span style="font-size:12pt"
              ><span style="font-family:Calibri,sans-serif"
                ><span style="font-size:11.5pt"
                  ><span style="font-family:新細明體,serif"><span style="color:#0b1e1f">（一）無重大差異。</span></span
                  ></span
                ></span
              ></span>
          </p>
        </td>
      </tr>
      <tr>
        <td>
          <p style="margin-left:0cm; margin-right:0cm">
            <span style="font-size:12pt"
              ><span style="font-family:Calibri,sans-serif"
                ><span style="font-size:11.5pt"
                  ><span style="font-family:新細明體,serif"
                    ><span style="color:#0b1e1f"
                      >（二）公司採行其他資訊揭露之方式（如架設英文網站、指定專人負責公司資訊之蒐集及揭露、落實發言人制度、法人說明會過程放置公司網站等）</span
                    ></span
                  ></span
                ></span
              ></span>
          </p>
        </td>
        <td>
          <p style="margin-left:0cm; margin-right:0cm">
            <span style="font-size:12pt"
              ><span style="font-family:Calibri,sans-serif"
                ><span style="font-size:11.5pt"
                  ><span style="font-family:新細明體,serif"
                    ><span style="color:#0b1e1f"
                      >（二）本公司已依規定建立發言人制度，並已指定專人負責公司資訊蒐集及揭露工作</span
                    ></span
                  ></span
                ></span
              ></span>
          </p>
        </td>
        <td style="width:220.25pt">
          <p style="margin-left:0cm; margin-right:0cm">
            <span style="font-size:12pt"
              ><span style="font-family:Calibri,sans-serif"
                ><span style="font-size:11.5pt"
                  ><span style="font-family:新細明體,serif"><span style="color:#0b1e1f">（二）無重大差異。</span></span
                  ></span
                ></span
              ></span>
          </p>
        </td>
      </tr>
      <tr>
        <td>
          <p style="margin-left:0cm; margin-right:0cm">
            <span style="font-size:12pt"
              ><span style="font-family:Calibri,sans-serif"
                ><span style="font-size:11.5pt"
                  ><span style="font-family:新細明體,serif"
                    ><span style="color:#0b1e1f">五、公司設置提名或其他各類功能性委員會之運作情形</span></span
                  ></span
                ></span
              ></span>
          </p>
        </td>
        <td>
          <p style="margin-left:0cm; margin-right:0cm">
            <span style="font-size:12pt"
              ><span style="font-family:Calibri,sans-serif"
                ><span style="font-size:11.5pt"
                  ><span style="font-family:新細明體,serif"><span style="color:#0b1e1f">本公司依規定於</span></span
                  ></span
                ><span style="font-size:11.5pt"
                  ><span style="font-family:" EB Garamond""><span style="color:#0b1e1f">100</span></span></span
                ><span style="font-size:11.5pt"
                  ><span style="font-family:新細明體,serif"><span style="color:#0b1e1f">年</span></span></span
                ><span style="font-size:11.5pt"
                  ><span style="font-family:" EB Garamond""><span style="color:#0b1e1f">12</span></span></span
                ><span style="font-size:11.5pt"
                  ><span style="font-family:新細明體,serif"><span style="color:#0b1e1f">月</span></span></span
                ><span style="font-size:11.5pt"
                  ><span style="font-family:" EB Garamond""><span style="color:#0b1e1f">27</span></span></span
                ><span style="font-size:11.5pt"
                  ><span style="font-family:新細明體,serif"
                    ><span style="color:#0b1e1f">日董事會設置薪資報酬委員會</span></span
                  ></span
                ></span
              ></span>
          </p>
        </td>
        <td style="width:220.25pt">
          <p style="margin-left:0cm; margin-right:0cm">
            <span style="font-size:12pt"
              ><span style="font-family:Calibri,sans-serif"
                ><span style="font-size:11.5pt"
                  ><span style="font-family:新細明體,serif"
                    ><span style="color:#0b1e1f">符合上市上櫃公司治理實務守則規定。</span></span
                  ></span
                ></span
              ></span>
          </p>
        </td>
      </tr>
      <tr>
        <td colspan="3" style="width:652.55pt">
          <p style="margin-left:0cm; margin-right:0cm">
            <span style="font-size:12pt"
              ><span style="font-family:Calibri,sans-serif"
                ><span style="font-size:11.5pt"
                  ><span style="font-family:新細明體,serif"
                    ><span style="color:#0b1e1f"
                      >六、公司如依據「上市上櫃公司治理實務守則」訂有公司治理實務守則者，請敘明其運作與所訂公司治理實務守則之差異情形：</span
                    ></span
                  ></span
                ></span
              ></span>
          </p>
        </td>
      </tr>
      <tr>
        <td colspan="3" style="width:652.55pt">
          <p style="margin-left:0cm; margin-right:0cm">
            <span style="font-size:12pt"
              ><span style="font-family:Calibri,sans-serif"
                ><span style="font-size:11.5pt"
                  ><span style="font-family:新細明體,serif"
                    ><span style="color:#0b1e1f"
                      >本公司並未訂定公司治理實務守則，惟實務上以上市上櫃公司治理實務守則之精神並衡量公司組織規模推行公司治理外，業務運作已遵循公司法、證券相關法令，應已涵蓋主要治理原則。</span
                    ></span
                  ></span
                ></span
              ></span>
          </p>
        </td>
      </tr>
      <tr>
        <td colspan="3" style="width:652.55pt">
          <p style="margin-left:0cm; margin-right:0cm">
            <span style="font-size:12pt"
              ><span style="font-family:Calibri,sans-serif"
                ><span style="font-size:11.5pt"
                  ><span style="font-family:新細明體,serif"
                    ><span style="color:#0b1e1f"
                      >七、其他有助於瞭解公司治理運作情形之重要資訊（如員工權益、僱員關懷、投資者關係、供應商關係、利害關係人之權利、董事及監察人進修之情形、風險管理政策及風險衡量標準之執行情形、客戶政策之執行情形、公司為董事及監察人購買責任保險之情形等）：</span
                    ></span
                  ></span
                ></span
              ></span>
          </p>
        </td>
      </tr>
      <tr>
        <td colspan="3" style="width:652.55pt">
          <p style="margin-left:0cm; margin-right:0cm">
            <span style="font-size:12pt"
              ><span style="font-family:Calibri,sans-serif"
                ><span style="font-size:11.5pt"
                  ><span style="font-family:" EB Garamond""><span style="color:#0b1e1f">1.</span></span></span
                ><span style="font-size:11.5pt"
                  ><span style="font-family:新細明體,serif"
                    ><span style="color:#0b1e1f"
                      >本公司注重員工關係，除設有職工福利委員會及提供婚喪補助外，並舉辦員工春酒活動等，為確保員工權益，根據勞動基準法訂定人事管理規章，提供員工得以遵循之工作規則，並訂有員工獎懲管理規章及各項福利制度，使員工行為及職場倫理守則可茲依循，確保合法權益；鼓勵員工與管理階層進行溝通，適度反映員工意見，增進勞資溝通管理，保障勞動權益。</span
                    ></span
                  ></span
                ></span
              ></span>
          </p>
        </td>
      </tr>
      <tr>
        <td colspan="3" style="width:652.55pt">
          <p style="margin-left:0cm; margin-right:0cm">
            <span style="font-size:12pt"
              ><span style="font-family:Calibri,sans-serif"
                ><span style="font-size:11.5pt"
                  ><span style="font-family:" EB Garamond""><span style="color:#0b1e1f">2.</span></span></span
                ><span style="font-size:11.5pt"
                  ><span style="font-family:新細明體,serif"
                    ><span style="color:#0b1e1f"
                      >董事及監察人進修之情形：本公司董事及監察人均依法令要求，規劃相關專業知識及實務運作課程，以供董事、監察人持續進修。</span
                    ></span
                  ></span
                ></span
              ></span>
          </p>
        </td>
      </tr>
      <tr>
        <td colspan="3" style="width:652.55pt">
          <p style="margin-left:0cm; margin-right:0cm">
            <span style="font-size:12pt"
              ><span style="font-family:Calibri,sans-serif"
                ><span style="font-size:11.5pt"
                  ><span style="font-family:" EB Garamond""><span style="color:#0b1e1f">3.</span></span></span
                ><span style="font-size:11.5pt"
                  ><span style="font-family:新細明體,serif"
                    ><span style="color:#0b1e1f"
                      >風險管理政策及風險衡量標準之執行情形：本公司專注本業，除配合法令執行各項政策推動，另針對主要往來客戶及供應商進行風險評估，降低並避免可能風險。</span
                    ></span
                  ></span
                ></span
              ></span>
          </p>
        </td>
      </tr>
      <tr>
        <td colspan="3" style="width:652.55pt">
          <p style="margin-left:0cm; margin-right:0cm">
            <span style="font-size:12pt"
              ><span style="font-family:Calibri,sans-serif"
                ><span style="font-size:11.5pt"
                  ><span style="font-family:" EB Garamond""><span style="color:#0b1e1f">4.</span></span></span
                ><span style="font-size:11.5pt"
                  ><span style="font-family:新細明體,serif"
                    ><span style="color:#0b1e1f"
                      >公司為董事及監察人購買責任保險之情形：本公司董事及監察人秉持誠信經營原則，目前尚未為董事及監察人購買責任保險，未來將視需求針對董監責任險進行瞭解並評估規劃。</span
                    ></span
                  ></span
                ></span
              ></span>
          </p>
        </td>
      </tr>
      <tr>
        <td colspan="3" style="width:652.55pt">
          <p style="margin-left:0cm; margin-right:0cm">
            <span style="font-size:12pt"
              ><span style="font-family:Calibri,sans-serif"
                ><span style="font-size:11.5pt"
                  ><span style="font-family:新細明體,serif"
                    ><span style="color:#0b1e1f"
                      >八、如有公司治理自評報告或委託其他專業機構之公司治理評鑑報告者，應敍明其自評（或委外評鑑）結果、主要缺失（或建議）事項及改善情形：無。</span
                    ></span
                  ></span
                ></span
              ></span>
          </p>
        </td>
      </tr>
    </tbody>
  </table>

  <p style="margin-left:0cm; margin-right:0cm; text-align:start">
    <span style="font-size:medium"
      ><span style="font-family:Calibri,sans-serif"
        ><span style="color:#000000"
          ><span style="font-family:新細明體,serif"
            >註一：董事及監察人進修之情形，參考臺灣證券交易所股份有限公司所發布之「上市上櫃公司董事、監察人進修推行要點參考範例」之規定。</span
          ></span
        ></span
      ></span>
  </p>

  <p style="margin-left:0cm; margin-right:0cm; text-align:start">
    <span style="font-size:medium"
      ><span style="font-family:Calibri,sans-serif"
        ><span style="color:#000000"
          ><span style="font-family:新細明體,serif"
            >註二：如為證券商、證券投資信託事業、證券投資顧問事業及期貨商者，應敘明風險管理政策、風險衡量標準及保護消費者或客戶政策之執行情形。</span
          ></span
        ></span
      ></span>
  </p>

  <p style="margin-left:0cm; margin-right:0cm; text-align:start">
    <span style="font-size:medium"
      ><span style="font-family:Calibri,sans-serif"
        ><span style="color:#000000"
          ><span style="font-family:新細明體,serif"
            >註三：所稱公司治理自評報告，係指依據公司治理自評項目，由公司自行評估並說明，各自評項目中目前公司運作及執行情形之報告。</span
          ></span
        ></span
      ></span>
  </p>

  <p></p>
</SubPageLayout>
