---
import SubPageLayout from '../../components/SubPageLayout.astro';

const base = import.meta.env.BASE_URL;
const menuItems = [
  { id: '2', label: '經營者話', href: `${base}company/2` },
  { id: '1', label: '公司治理運作', href: `${base}company/1` },
  { id: '4', label: '功能性委員會', href: `${base}company/4` },
  { id: '3', label: '董事會', href: `${base}company/3` },
  { id: '6', label: '公司治理相關程序及辦法', href: `${base}company/6` },
  { id: '7', label: '內部稽核組織及運作', href: `${base}company/7` },
  { id: '5', label: '企業社會責任', href: `${base}company/5` },
];
---

<SubPageLayout
  title="功能性委員會"
  titleEn="Corporate Governance"
  titleTw="公司治理"
  menuItems={menuItems}
  activeId="4"
>
  <div
    style="-webkit-text-stroke-width:0px; border-bottom-color:#888888; border-bottom-width:1pt; border-style:none none dashed; padding:0cm 0cm 8pt; text-align:start"
  >
    <div
      style="-webkit-text-stroke-width:0px; border-bottom-color:#888888; border-bottom-width:1pt; border-style:none none dashed; padding:0cm 0cm 8pt; text-align:start"
    >
      <p style="margin-left:0cm; margin-right:0cm">
        <span style="color:#000000"
          ><span style="font-size:12pt"
            ><span style="font-family:Calibri,sans-serif"
              ><strong
                ><span style="font-size:19pt"
                  ><span style="font-family:微軟正黑體,sans-serif"><span style="color:black">審計委員會</span></span
                  ></span
                ></strong
              ></span
            ></span
          ></span>
      </p>
    </div>

    <p></p>

    <table
      border="1"
      cellspacing="0"
      class="Table"
      style="-webkit-text-size-adjust:auto; -webkit-text-stroke-width:0px; border-collapse:collapse; border:1pt solid gray; caret-color:#000000; color:#000000; font-style:normal; font-variant-caps:normal; font-weight:normal; letter-spacing:normal; orphans:auto; text-align:start; text-decoration:none; text-transform:none; white-space:normal; widows:auto; width:507.75pt; word-spacing:0px"
    >
      <tbody>
        <tr>
          <td colspan="3" style="height:16.5pt; width:507.75pt">
            <p style="margin-left:0cm; margin-right:0cm">
              <span style="font-size:12pt"
                ><span style="font-family:Calibri,sans-serif"
                  ><span style="font-size:10.5pt"
                    ><span style="font-family:微軟正黑體,sans-serif"
                      ><span style="color:black"
                        >依據本公司審計委員會組織規程，本公司於民國110年7月1日董事會通過設置完成審計委員會，有關審計委員會召開會議次數，請參閱本公司各年度年報。</span
                      ></span
                    ></span
                  ></span
                ></span>
            </p>
          </td>
        </tr>
        <tr>
          <td colspan="3" style="height:12.35pt; width:507.75pt">
            <p style="margin-left:0cm; margin-right:0cm; text-align:center">
              <span style="font-size:12pt"
                ><span style="font-family:Calibri,sans-serif"
                  ><span style="font-size:10.5pt"
                    ><span style="font-family:微軟正黑體,sans-serif"
                      ><span style="color:black">第二屆審計委員會名單</span></span
                    ></span
                  ></span
                ></span>
            </p>
          </td>
        </tr>
        <tr>
          <td colspan="3" style="height:16.5pt; width:507.75pt">
            <p style="margin-left:0cm; margin-right:0cm; text-align:center">
              <span style="font-size:12pt"
                ><span style="font-family:Calibri,sans-serif"
                  ><span style="font-size:10.5pt"
                    ><span style="font-family:微軟正黑體,sans-serif"
                      ><span style="color:black">任期: 113年6月28日至116年6月27日</span></span
                    ></span
                  ></span
                ></span>
            </p>
          </td>
        </tr>
        <tr>
          <td style="height:16.5pt; width:153.35pt">
            <p style="margin-left:0cm; margin-right:0cm; text-align:center">
              <span style="font-size:12pt"
                ><span style="font-family:Calibri,sans-serif"
                  ><span style="font-size:10.5pt"
                    ><span style="font-family:微軟正黑體,sans-serif"><span style="color:black">職稱</span></span></span
                  ></span
                ></span>
            </p>
          </td>
          <td style="height:16.5pt; width:7cm">
            <p style="margin-left:0cm; margin-right:0cm; text-align:center">
              <span style="font-size:12pt"
                ><span style="font-family:Calibri,sans-serif"
                  ><span style="font-size:10.5pt"
                    ><span style="font-family:微軟正黑體,sans-serif"><span style="color:black">姓名</span></span></span
                  ></span
                ></span>
            </p>
          </td>
          <td style="height:16.5pt; width:155.95pt">
            <p style="margin-left:0cm; margin-right:0cm; text-align:center">
              <span style="font-size:12pt"
                ><span style="font-family:Calibri,sans-serif"
                  ><span style="font-size:10.5pt"
                    ><span style="font-family:微軟正黑體,sans-serif"><span style="color:black">備註</span></span></span
                  ></span
                ></span>
            </p>
          </td>
        </tr>
        <tr>
          <td style="height:16.5pt; width:153.35pt">
            <p style="margin-left:0cm; margin-right:0cm; text-align:center">
              <span style="font-size:12pt"
                ><span style="font-family:Calibri,sans-serif"
                  ><span style="font-size:10.5pt"
                    ><span style="font-family:微軟正黑體,sans-serif"><span style="color:black">召集人</span></span
                    ></span
                  ></span
                ></span>
            </p>
          </td>
          <td style="height:16.5pt; width:7cm">
            <p style="margin-left:0cm; margin-right:0cm; text-align:center">
              <span style="font-size:12pt"
                ><span style="font-family:Calibri,sans-serif"
                  ><span style="font-size:10.5pt"
                    ><span style="font-family:微軟正黑體,sans-serif"
                      ><span style="color:black">潘鴻謀（獨立董事）</span></span
                    ></span
                  ></span
                ></span>
            </p>
          </td>
          <td style="height:16.5pt; width:155.95pt">
            <p style="margin-left:0cm; margin-right:0cm; text-align:center"></p>
          </td>
        </tr>
        <tr>
          <td style="height:16.5pt; width:153.35pt">
            <p style="margin-left:0cm; margin-right:0cm; text-align:center">
              <span style="font-size:12pt"
                ><span style="font-family:Calibri,sans-serif"
                  ><span style="font-size:10.5pt"
                    ><span style="font-family:微軟正黑體,sans-serif"><span style="color:black">委員</span></span></span
                  ></span
                ></span>
            </p>
          </td>
          <td style="height:16.5pt; width:7cm">
            <p style="margin-left:0cm; margin-right:0cm; text-align:center">
              <span style="font-size:12pt"
                ><span style="font-family:Calibri,sans-serif"
                  ><span style="font-size:10.5pt"
                    ><span style="font-family:微軟正黑體,sans-serif"
                      ><span style="color:black">高明哲（獨立董事）</span></span
                    ></span
                  ></span
                ></span>
            </p>
          </td>
          <td style="height:16.5pt; width:155.95pt">
            <p style="margin-left:0cm; margin-right:0cm; text-align:center"></p>
          </td>
        </tr>
        <tr>
          <td style="height:16.5pt; width:153.35pt">
            <p style="text-align:center">
              <span style="font-size:12pt"
                ><span style="font-family:Calibri,sans-serif"
                  ><span style="font-size:10.5pt"
                    ><span style="font-family:微軟正黑體,sans-serif"><span style="color:black">委員</span></span></span
                  ></span
                ></span>
            </p>
          </td>
          <td style="height:16.5pt; text-align:center; width:7cm"
            ><span style="font-size:12pt"
              ><span style="font-family:Calibri,sans-serif"
                ><span style="font-size:10.5pt"
                  ><span style="font-family:微軟正黑體,sans-serif"
                    ><span style="color:black">蕭仰歸（獨立董事）</span></span
                  ></span
                ></span
              ></span
            ></td
          >
          <td style="height:16.5pt; width:155.95pt"> </td>
        </tr>
      </tbody>
    </table>

    <div
      style="-webkit-text-stroke-width:0px; border-bottom-color:#888888; border-bottom-width:1pt; border-style:none none dashed; padding:0cm 0cm 8pt; text-align:start"
    >
      <p style="margin-left:0cm; margin-right:0cm"><br /></p>

      <p style="margin-left:0cm; margin-right:0cm"></p>

      <p style="margin-left:0cm; margin-right:0cm">
        <span style="color:#000000"
          ><span style="font-size:12pt"
            ><span style="font-family:Calibri,sans-serif"
              ><strong
                ><span style="font-size:19pt"
                  ><span style="font-family:微軟正黑體,sans-serif"><span style="color:black">薪資報酬委員會</span></span
                  ></span
                ></strong
              ></span
            ></span
          ></span>
      </p>
    </div>

    <p></p>

    <table
      border="1"
      cellspacing="0"
      class="Table"
      style="-webkit-text-size-adjust:auto; -webkit-text-stroke-width:0px; border-collapse:collapse; border:1pt solid gray; caret-color:#000000; color:#000000; font-style:normal; font-variant-caps:normal; font-weight:normal; letter-spacing:normal; orphans:auto; text-align:start; text-decoration:none; text-transform:none; white-space:normal; widows:auto; width:507.75pt; word-spacing:0px"
    >
      <tbody>
        <tr>
          <td colspan="3" style="height:16.5pt; width:507.75pt">
            <p style="margin-left:0cm; margin-right:0cm">
              <span style="font-size:12pt"
                ><span style="font-family:Calibri,sans-serif"
                  ><span style="font-size:10.5pt"
                    ><span style="font-family:微軟正黑體,sans-serif"
                      ><span style="color:black"
                        >本公司依規定於100年12月27日董事會決議設置薪資報酬委員會，目前由三名成員組成，其應以善良管理人之注意，忠實履行下列職權，並將所提之建議提交董事會討論。有關薪資報酬委員會召開會議次數，請參閱本公司各年度年報。</span
                      ></span
                    ></span
                  ></span
                ></span>
            </p>

            <p style="margin-left:0cm; margin-right:0cm">
              <span style="font-size:12pt"
                ><span style="font-family:Calibri,sans-serif"
                  ><span style="font-size:10.5pt"
                    ><span style="font-family:微軟正黑體,sans-serif"
                      ><span style="color:black"
                        >一、訂定並定期檢討本公司董事、監察人及經理人年度及長期之績效目標與薪資報酬之政策、制度、標準與結構。</span
                      ></span
                    ></span
                  ></span
                ></span>
            </p>

            <p style="margin-left:0cm; margin-right:0cm">
              <span style="font-size:12pt"
                ><span style="font-family:Calibri,sans-serif"
                  ><span style="font-size:10.5pt"
                    ><span style="font-family:微軟正黑體,sans-serif"
                      ><span style="color:black"
                        >二、定期評估本公司董事、監察人及經理人之績效目標達成情形，並訂定其個別薪資報酬之內容及數額。</span
                      ></span
                    ></span
                  ></span
                ></span>
            </p>
          </td>
        </tr>
        <tr>
          <td colspan="3" style="height:18pt; width:507.75pt">
            <p style="margin-left:0cm; margin-right:0cm; text-align:center">
              <span style="font-size:12pt"
                ><span style="font-family:Calibri,sans-serif"
                  ><span style="font-size:10.5pt"
                    ><span style="font-family:微軟正黑體,sans-serif"
                      ><span style="color:black">第八屆薪資報酬委員會名單</span></span
                    ></span
                  ></span
                ></span>
            </p>
          </td>
        </tr>
        <tr>
          <td colspan="3" style="height:16.5pt; width:507.75pt">
            <p style="margin-left:0cm; margin-right:0cm; text-align:center">
              <span style="font-size:12pt"
                ><span style="font-family:Calibri,sans-serif"
                  ><span style="font-size:10.5pt"
                    ><span style="font-family:微軟正黑體,sans-serif"
                      ><span style="color:black">任期: 113年6月28日至116年6月27日</span></span
                    ></span
                  ></span
                ></span>
            </p>
          </td>
        </tr>
        <tr>
          <td style="height:16.5pt; width:153.35pt">
            <p style="margin-left:0cm; margin-right:0cm; text-align:center">
              <span style="font-size:12pt"
                ><span style="font-family:Calibri,sans-serif"
                  ><span style="font-size:10.5pt"
                    ><span style="font-family:微軟正黑體,sans-serif"><span style="color:black">職稱</span></span></span
                  ></span
                ></span>
            </p>
          </td>
          <td style="height:16.5pt; width:205.55pt">
            <p style="margin-left:0cm; margin-right:0cm; text-align:center">
              <span style="font-size:12pt"
                ><span style="font-family:Calibri,sans-serif"
                  ><span style="font-size:10.5pt"
                    ><span style="font-family:微軟正黑體,sans-serif"><span style="color:black">姓名</span></span></span
                  ></span
                ></span>
            </p>
          </td>
          <td style="height:16.5pt; width:148.85pt">
            <p style="margin-left:0cm; margin-right:0cm; text-align:center">
              <span style="font-size:12pt"
                ><span style="font-family:Calibri,sans-serif"
                  ><span style="font-size:10.5pt"
                    ><span style="font-family:微軟正黑體,sans-serif"><span style="color:black">備註</span></span></span
                  ></span
                ></span>
            </p>
          </td>
        </tr>
        <tr>
          <td style="height:16.5pt; width:153.35pt">
            <p style="margin-left:0cm; margin-right:0cm; text-align:center">
              <span style="font-size:12pt"
                ><span style="font-family:Calibri,sans-serif"
                  ><span style="font-size:10.5pt"
                    ><span style="font-family:微軟正黑體,sans-serif"><span style="color:black">召集人</span></span
                    ></span
                  ></span
                ></span>
            </p>
          </td>
          <td style="height:16.5pt; width:205.55pt">
            <p style="margin-left:0cm; margin-right:0cm; text-align:center">
              <span style="font-size:12pt"
                ><span style="font-family:Calibri,sans-serif"
                  ><span style="font-size:10.5pt"
                    ><span style="font-family:微軟正黑體,sans-serif"
                      ><span style="color:black">潘鴻謀（獨立董事）</span></span
                    ></span
                  ></span
                ></span>
            </p>
          </td>
          <td style="height:16.5pt; width:148.85pt">
            <p style="margin-left:0cm; margin-right:0cm; text-align:center"></p>
          </td>
        </tr>
        <tr>
          <td style="height:16.5pt; width:153.35pt">
            <p style="margin-left:0cm; margin-right:0cm; text-align:center">
              <span style="font-size:12pt"
                ><span style="font-family:Calibri,sans-serif"
                  ><span style="font-size:10.5pt"
                    ><span style="font-family:微軟正黑體,sans-serif"><span style="color:black">委員</span></span></span
                  ></span
                ></span>
            </p>
          </td>
          <td style="height:16.5pt; width:205.55pt">
            <p style="margin-left:0cm; margin-right:0cm; text-align:center">
              <span style="font-size:12pt"
                ><span style="font-family:Calibri,sans-serif"
                  ><span style="font-size:10.5pt"
                    ><span style="font-family:微軟正黑體,sans-serif"
                      ><span style="color:black">高明哲（獨立董事）</span></span
                    ></span
                  ></span
                ></span>
            </p>
          </td>
          <td style="height:16.5pt; width:148.85pt">
            <p style="margin-left:0cm; margin-right:0cm; text-align:center"></p>
          </td>
        </tr>
        <tr>
          <td style="height:17.25pt; width:153.35pt">
            <p style="margin-left:0cm; margin-right:0cm; text-align:center">
              <span style="font-size:12pt"
                ><span style="font-family:Calibri,sans-serif"
                  ><span style="font-size:10.5pt"
                    ><span style="font-family:微軟正黑體,sans-serif"><span style="color:black">委員</span></span></span
                  ></span
                ></span>
            </p>
          </td>
          <td style="height:17.25pt; width:205.55pt">
            <p style="text-align:center">
              <span style="font-size:12pt"
                ><span style="font-family:Calibri,sans-serif"
                  ><span style="font-size:10.5pt"
                    ><span style="font-family:微軟正黑體,sans-serif"
                      ><span style="color:black">蕭仰歸（獨立董事）</span></span
                    ></span
                  ></span
                ></span>
            </p>
          </td>
          <td style="height:17.25pt; width:148.85pt">
            <p style="margin-left:0cm; margin-right:0cm; text-align:center"></p>
          </td>
        </tr>
      </tbody>
    </table>

    <p style="margin-left:0cm; margin-right:0cm; text-align:start"></p>
  </div>
</SubPageLayout>
