---
import SubPageLayout from '../../components/SubPageLayout.astro';

const base = import.meta.env.BASE_URL;
const menuItems = [
  { id: '1', label: '馬來西亞-珠寶店', href: `${base}group/1` },
  { id: '4', label: '馬來西亞-土產推廣中心', href: `${base}group/4` },
];
---

<SubPageLayout title="馬來西亞-土產推廣中心" titleEn="Affiliate Enterprise" titleTw="關係企業" menuItems={menuItems} activeId="4">
  <p><img alt="" src={`${base}upload/images/2022_05_26_052433.jpg`} style="width:100%; max-width:1000px" /></p>
  <p><img alt="" src={`${base}upload/images/2022_05_26_052452.jpg`} style="width:100%; max-width:1000px" /></p>
  <p><img alt="" src={`${base}upload/images/2022_05_26_052723.jpg`} style="width:100%; max-width:1000px" /></p>
</SubPageLayout>
